<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net46" />
  <package id="LightInject" version="4.0.9" targetFramework="net46" />
  <package id="LightInject.Nancy" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Nancy" version="1.4.3" targetFramework="net46" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
</packages>